<div class="ml-25 mr-25">
  <div class="navbar bg-base-100 shadow-lg rounded-xl">
    <div class="navbar-start">

    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl mx-auto">Home</a>
      <a class="btn btn-ghost text-xl mx-auto">Kurse</a>
    </div>

    <div class="navbar-end">
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li><a>Login</a></li>
        </ul>
      </div>
      <div class="flex gap-2">
        <div tabindex="0" class="avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
