@if (!isLoggedIn()) {
  <div class="max-w-md mx-auto mt-10 p-6 rounded-xl shadow-md">
    <h1 class="text-2xl font-bold mb-6 text-center">Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="space-y-4">
      <div>
        <label for="username" class="block text-sm font-medium">E-Mail</label>
        <input
          type="email" id="username" formControlName="username"
          class="mt-1 block w-full rounded-md border shadow-sm p-2 placeholder-gray-600
          focus:outline-none focus:ring focus:border-blue-300"
          placeholder="E-Mail-Adresse eingeben..."
        />
        @if (loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty ||
          loginForm.get('username')?.touched)) {
          <p class="text-sm text-red-600 mt-1" [@if]="loginForm.get('username')?.hasError('required')">
            E-Mail ist erforderlich.
          </p>
          <p class="text-sm text-red-600 mt-1" [@if]="loginForm.get('username')?.hasError('email')">
            Bitte gib eine gültige E-Mail-Adresse ein.
          </p>
        }
      </div>

      <div>
        <label for="password" class="block text-sm font-medium">Passwort</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="mt-1 block w-full rounded-md border shadow-sm p-2
           focus:outline-none focus:ring focus:border-blue-300 placeholder-gray-600"
          placeholder="Passwort eingeben..."
        />
        @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty ||
          loginForm.get('password')?.touched)) {
          <p class="text-sm text-red-600 mt-1">Passwort ist erforderlich.</p>
        }
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-outline py-2 px-4 rounded disabled:opacity-50"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
}
