@let s = localSession()!;
<div class="card bg-emerald-100 text-primary-content w-96"
     [ngClass]="{ 'opacity-50': s.successfully_completed}">
  <div class="card-body">
    <p class="absolute left-2 top-2">#{{s.id}}</p>
    <h2 class="card-title">[{{ s.offer.course.code }}] {{ s.offer.course.name }}</h2>
    <p class="font-semibold">Anbieter:
      <button class="btn opacity-80 btn-active btn-neutral">{{ s.offer.user.name }}</button>
    </p>
    <p class="font-semibold">angefragt von:
      <button class="btn opacity-80 btn-active btn-neutral">{{ s.inquiry.user.name }}</button>
    </p>
    <p class="font-semibold">Status:
      <button class="btn opacity-80 btn-active btn-neutral"
              [class.text-error]="s.status === 'rejected'"
              [class.text-success]="s.status === 'accepted'"
      >{{  s.status }}</button>
    </p>
    <p class="font-semibold">Erfolgreich durchgeführt:
      @if (isTutor()) {
        <input type="checkbox" [checked]="s.successfully_completed" (change)="sessionCompleted()"
               class="checkbox checkbox-lg checkbox-accent border-stone-500 bg-stone-500"/>
      }
      @if (isStudent()) {
        <input type="checkbox" [checked]="s.successfully_completed" (change)="sessionCompleted()"
               class="checkbox checkbox-lg checkbox-accent border-stone-300 bg-stone-200" disabled/>
      }
    </p>
    <div class="mt-3">
      <p class="font-semibold">Timeslots:</p>
      <ul class="list-disc list-inside text-sm ml-2">
        @for (slot of s.timeslots; track slot) {
          <li>
            {{ slot.start_time | date:'short' }} – {{ slot.end_time | date:'shortTime' }}
          </li>
        }
      </ul>
    </div>
    @if (s && isEditing) {
      <div class="space-y-4">
        <div class="form-control">
          <textarea
            [formControl]="editTimeslotsControl"
            class="textarea textarea-bordered w-full text-white"
            rows="5"
            placeholder="Beispiel: 2025-06-10T14:00 – 2025-06-10T15:00"></textarea>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Kommentar</span>
          </label>
          <textarea
            [formControl]="editCommentControl"
            class="textarea textarea-bordered w-full text-white" rows="3">
          </textarea>
        </div>

        <div class="flex gap-2 mt-2">
          <button class="btn btn-primary btn-outline" (click)="saveEdit()">Speichern</button>
          <button class="btn btn-secondary btn-outline" (click)="cancelEdit()">Verwerfen</button>
        </div>
      </div>
    } @else {
      <p class="py-4">{{ s.comment }}</p>

      @if (s && !isEditing) {
        <div class="modal-action">
          <button class="btn btn-warning btn-soft"
                  (click)="startEdit()"
                  [disabled]="s.successfully_completed ||
                   isStudent() && s.status !== 'proposed' ||
                   isTutor() && s.status === 'accepted'">
            bearbeiten</button>
            <button class="btn btn-error btn-soft"
                    (click)="removeSession()">löschen</button>

          @if (isStudent() && s.status !== 'accepted') {
            <button class="btn btn-success btn-soft"
                    (click)="acceptSession()"
                    [disabled]="s.successfully_completed">Termin bestätigen</button>
          } @else if (isStudent() && s.status === 'accepted') {
            <button class="btn btn-success btn-soft" disabled>Termin fixiert</button>
          }
          @if (isStudent() && s.status !== 'rejected') {
            <button class="btn btn-error btn-soft"
                    (click)="rejectSession()"
                    [disabled]="s.successfully_completed">Ablehnen</button>
          }
        </div>
      }
    }
  </div>
</div>
